name: 'SWM GitHub Actions Basic'

on: push

env:
  GLOBAL_LEVEL: "This value comes from the GLOBAL_LEVEL level"

jobs:
  first-job:
    name: 'First Job'

    runs-on: ubuntu-latest

    env:
      JOB_LEVEL_1: "JOB LEVEL VALUE 1"

    steps:
    - name: Say Hello World 1-1
      shell: bash
      env:
        STEP_LEVEL_1: "STEP level 1"
      run: |
        echo "Hello World from step 1"
        random_value="swm$(echo $RANDOM)"
        echo "STEP_VALUE= $random_value" >> $GITHUB_OUTPUT

    - name: Say Hello World 1-2
      shell: pwsh
      env:
        STEP_LEVEL_2: "STEP level 2"
      run: |
        echo "Hello World from step 2"
        echo "STEP_VALUE: ${{ steps.helloworld1.outputs.STEP_VALUE }}"



  second-job:
    name: 'Second Job'

    env:
      JOB_LEVEL_2: "JOB LEVEL VALUE 2"

    runs-on: ubuntu-latest

    steps:
    - name: Say Hello World 2-1
      shell: bash
      env:
        STEP_LEVEL_3: "STEP level 3"
      run: |
        echo "Hello World from step 3"
        echo "global level: $GLOBAL_LEVEL"
        echo "job level: ${{ env.JOB_LEVEL_1 }}"
        echo "job level: ${{ env.JOB_LEVEL_2 }}"
        echo "job level: ${{ env.STEP_LEVEL_1 }}"
        echo "job level: ${{ env.STEP_LEVEL_2 }}"
        echo "job level: ${{ env.STEP_LEVEL_3 }}"
        echo "job level: ${{ env.STEP_LEVEL_4 }}"

    - name: Say Hello World 2-2
      shell: pwsh
      env:
        STEP_LEVEL_4: "STEP level 4"
      run: |
        echo "Hello World from step 4"
        echo "global level: $env:GLOBAL_LEVEL"
        echo "job level: ${{ env.JOB_LEVEL_1 }}"
        echo "job level: ${{ env.JOB_LEVEL_2 }}"
        echo "job level: ${{ env.STEP_LEVEL_1 }}"
        echo "job level: ${{ env.STEP_LEVEL_2 }}"
        echo "job level: ${{ env.STEP_LEVEL_3 }}"
        echo "job level: ${{ env.STEP_LEVEL_4 }}"