name: 'SWM GitHub Actions Basic'

on: push

jobs:
  build-test:
    name: 'Send a message to Webex message'
    runs-on: 'ubuntu-latest'
    steps:
    - name: Say Hello World 1 
      shell: bash
      run: |
        echo "Hello World Build N Test"
        curl -X POST 'https://webexapis.com/v1/messages' \
          -H 'Authorization: Bearer ${{ secrets.WEBEX_ACCESS_TOKEN }}' \
          -H 'Content-type: application/json' \
          -d '{
            {
              "roomId": "${{ secrets.WEBEX_ROOM_ID }}",
              "text": "스타벅스 ☕️☕️☕️ - FROM GITHUB ACTION ✨"
          }'