name: 'SWM GitHub Actions Basic'

on: push

env:
  GLOBAL_LEVEL: "This value comes from the GLOBAL_LEVEL level"

jobs:
  first-job:
    name: 'First Job'

    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
        nodejs: ['16', '18']
        
    runs-on: ${{ matrix.os }}

    env:
      JOB_LEVEL_1: "JOB LEVEL VALUE 1"

    steps:
    - name: Say Hello World 1-1
      shell: bash
      env:
        STEP_LEVEL_1: "STEP level 1"
      run: |
        echo "Hello World from step 1"

        echo "OS : ${{ matrix.os }}"
        echo "nodejs version: ${{ maxrix.nodejs }}"

    - name: Say Hello World 1-2
      shell: pwsh
      env:
        STEP_LEVEL_2: "STEP level 2"
      run: |
        echo "Hello World from step 2"



  second-job:
    name: 'Second Job'

    env:
      JOB_LEVEL_2: "JOB LEVEL VALUE 2"

    runs-on: ubuntu-latest

    steps:
    - name: Say Hello World 2-1
      shell: bash
      env:
        STEP_LEVEL_3: "STEP level 3"
      run: |
        echo "Hello World from step 3"
        echo "${{ steps.API_KEY }}"
        echo "global level: $GLOBAL_LEVEL"


    - name: Say Hello World 2-2
      shell: pwsh
      env:
        STEP_LEVEL_4: "STEP level 4"
      run: |
        echo "Hello World from step 4"
        echo "global level: $env:GLOBAL_LEVEL"